.QuestionDetails {
  &__answersGroup {
    margin-top: 20px;
  }
  &__answer {
    margin-top: 10px;

  }
  &__generalInfo {
    &--card {
      &-dark {
        background: var(--content_tint_background);

      }
    }

  }
}
