.BrainLeaderboard {
  margin-top: -8px;

  .Tabs {
    margin-top: 0 !important;
    margin-left: -15px;
    margin-right: -12px;

    &__in {
      .Tappable {
        flex-grow:  0;
      }
    }
  }

  .Gallery {
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.08), 0 0 2px 0 rgba(0,0,0,.08);
    height: auto;
    border-radius: 10px;
    transition: height ease 500ms;
    &__slide {
      height: auto;
    }
  }

}