.Main {

  .PanelHeader {
    //border-color: var(--background_content) !important;
    border-bottom-color: var(--background_content) !important;
    &__in {
      //border-color: var(--background_content) !important;
      border-bottom-color: var(--background_content) !important;
    }
  }
  .FixedLayout {
    //border-color: var(--background_content) !important;
    border-bottom-color: var(--background_content) !important;

    &__in {
      //border-color: var(--background_content) !important;
      border-bottom-color: var(--background_content) !important;

    }
  }

  .Header__content {
    font-family: "TT Commons", -apple-system, system-ui, Helvetica Neue, Roboto, sans-serif;
    //font-family: var(--font-tt) !important;
    //font-family: "TT Commons";
    font-weight: 600;

  }

  &--BrainHeader {
    padding: 23px 12px 0 12px;
  }

  &--user {
    margin-top: 6px;
    .Group__description {
      padding-bottom: 20px;
    }
  }


  &--button__showAllQuestions {
    //margin-right: -16px;
    padding-right: 0;
  }

  &--CustomQuestionBlock {
    padding-top: 0;
  }

  &--ShopButton {
    display: flex;
    align-items: center;
    height: 30px;

    &_icon {
      padding-right: 7px;
    }

    .SimpleCell__main {
      padding: 0;
    }
    &_textAfter {
      color: var(--text_secondary);
      font-size: 14px;
      margin-left: 12px;
      white-space: pre-wrap;
    }
  }

  .Cell__in {
    padding-left: 0;
    padding-right: 0;
  }

  &--shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 30px;
    background-color: #4BB34B;
    border-radius: 10px;
    color: #FFFFFF;
  }

  &__header {
    .FixedLayout {
      //position: absolute;
    }
    .PanelHeader{
      position: absolute;
      &__fixed {
        //position: relative;
      }
    }
    &--content {
      display: flex;
      align-items: center;
    }
  }
  &__photo {
    padding-right: 12px !important;
  }
  &__name {
    letter-spacing: -0.24px;
    color: #71757a;
  }
}
