.QuizResult {

  &--header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    text-align: center;
  }

  &--rowContainer {
    padding-top: 0;
    padding-bottom: 0;
  }
  &--scoreRow {
    height: 45px;
    display: flex;
    align-items: center;
  }

  &--icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: inherit;
    padding-right: 12px;
  }

  &--buttonRow {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__description {
      margin-top: 10px;
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      color: var(--text_secondary);
    }
  }

}