.LeaderboardGallery {
  .Card {
    box-shadow: inherit;
  }

  &--card {
    box-shadow: inherit;

  }
  .Card--md-shadow {
    box-shadow: inherit;
  }

  .Gallery__slide {
    background: var(--modal_card_background);
  }

}