.LeaderboardGallery {
  .Card {
    box-shadow: inherit;
  }

  &--card {
    box-shadow: inherit;
    &__placeholder {
      background: var(--modal_card_background);

    }
  }
  .Card--md-shadow {
    box-shadow: inherit;
  }

  .Gallery__slide {
    background: var(--modal_card_background);
  }

}